:root{
    --color-green: #16a085;
    --color-red: #c0392b;
    --color-orange: #d35400;
    --color-blue: #2980b9;
}


.color-green{
    background-color: var(--color-green)
}

.color-red{

    background-image: url(/img/back.png);
    background-size: cover;
    background-position: center;
}

.color-orange{
    background-color: var(--color-orange)
}

.color-blue{
    background-color: var(--color-blue)
}